body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  overflow: hidden;
}

#root {
  --sidebar-width: 51px;
}

#root>.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  float: left;
}

#root>.content {
  width: calc(100vw - var(--sidebar-width));
  height: 100vh;
  float: right;
}

/* Page: Graph */
.fullheight {
  height: 100vh;
}